.roadmap {
	min-height: 200vh;
	background-color: #090812;
	overflow: hidden;
	height: auto;
	padding-bottom: 5em;
}

.roadmap .container {
	padding-top: 140px;
	max-width: 1200px;
	width: 90%;
	margin: auto;
}

.roadmap h6,
.roadmap h3 {
	text-align: center;
	font-family: heliosextc;
	color: #fff;
	margin-top: 0;
	margin-bottom: 0;
}

.roadmap h6 {
	font-size: 20px;
}

.roadmap h3 {
	font-size: 45px;
	margin-top: 20px;
}

.roadmap h5 {
	font-size: 22px;
	line-height: 1.4;
}

.roadmap h5,
.roadmap ul {
	color: #fff;
}

.roadmap .content-wrapper {
	position: relative;
}

.roadmap ul {
	list-style-type: none;
	padding-left: 0;
}

.roadmap ul li {
	position: relative;
	padding-left: 35px;
	margin-bottom: 15px;
	min-height: 24px;
	font-size: 18px;
	opacity: 0.8;
}

.roadmap ul li::before {
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	content: "";
	width: 24px;
	height: 24px;
	background-image: url("../../image/list-marker-item.svg");
}

.roadmap .cell {
	position: relative;
}

.roadmap .cell-right {
	transform: translateX(65%);
	/* transform: translate(65%, 0); */
	/* border: 20px solid red; */
	/* width: 100%;
	transition-property: transform, border, width;
	transition-duration: 1000ms;
	transition-delay: 1500ms; */

	/* transition: transform, border 500ms ease 0ms; */
}

/* .roadmap .cell-right:hover {
	transform: rotate(90deg);
	border: 2px solid red;
	width: 50%;
} */

.roadmap .circle {
	width: 134px;
	height: 134px;
	border-radius: 50%;
	border: 1px solid #fff;
	position: absolute;
	top: 0;
	left: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0px 0px 70px #c344ff;
}

.roadmap .cell-right .circle {
	left: -140px;
}

.roadmap .circle > div {
	width: 107px;
	height: 107px;
	border-radius: 50%;
	background-color: rgb(121, 20, 255);
	/* box-shadow: 0px 0px 17px #c344ff; */
}

@keyframes button-bottom-line-anim {
	0% {
		height: 0%;
		/* background-color: #7a42f4; */
	}

	100% {
		height: 100%;
	}
}

.roadmap button {
	position: relative;
	background-color: transparent;
	border: 0;
	font-size: 18px;
	font-weight: 600;
	color: #fff;
}

.roadmap button span {
	position: relative;
	z-index: 1;
}

.roadmap button::after {
	position: absolute;
	display: block;
	content: "";
	background-color: #7a42f4;
	width: 100%;

	animation-name: none;
	animation-duration: 0.5s;
	/* animation-iteration-count: infinite; */
	/* animation-iteration-count: infinite; */
	/* animation-play-state: paused; */
	/* animation-direction: reverse; */
	animation-fill-mode: forwards;
	transform: rotate(180deg);
	transform-origin: top center;
	/* animation-direction: reverse; */
}

.roadmap button:hover::after {
	animation-name: button-bottom-line-anim;
	/* animation-play-state: running; */
}
